@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Light.woff2') format('woff2'),
  url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('fonts/JetBrainsMono-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-[#060513] text-white;
  font-family: 'JetBrains Mono', sans-serif;
}

.custom-cursor {
  @apply -z-10 w-[800px] h-[800px] rounded-[80%] fixed pointer-events-none
    translate-[-50%] transition-transform duration-[50];
  background: radial-gradient(
    circle farthest-corner at center,
    rgba(69, 148, 180, 0.14),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}
