---
import IconFacebookBrand from "./icons/IconFacebookBrand.astro";
import IconInstagramBrand from "./icons/IconInstagramBrand.astro";
import IconGithubBrand from "./icons/IconGithubBrand.astro";
import IconLinkedInBrand from "./icons/IconLinkedInBrand.astro";
import IconDiscordBrand from "./icons/IconDiscordBrand.astro";
---

<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto flex justify-center">
    <a href="https://www.facebook.com/profile.php?id=100091984830340&_rdc=1&_rdr"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank"
       aria-label="Facebook">
      <IconFacebookBrand class="size-6" />
    </a>
    <a href="https://www.linkedin.com/company/binary-brains-upiicsa/"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank"
       aria-label="LinkedIn">
       <IconLinkedInBrand class="size-6" />
    </a>
    <a href="https://www.instagram.com/bbupiicsa/"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank"
       aria-label="Instagram">
      <IconInstagramBrand class="size-6" />
    </a>
    <a href="https://github.com/binarybrains-upiicsa"
       class="text-gray-400 hover:text-white rounded-full p-2 bg-transparent"
       target="_blank"
       aria-label="GitHub">
      <IconGithubBrand class="size-6" />
    </a>
    <a href="https://discord.gg/cyXd37NTbq"
       class="text-gray-400 hover:text-white rounded-full p-2 bg-transparent"
       target="_blank"
       aria-label="Discord">
      <IconDiscordBrand class="size-6" />
    </a>
  </div>
</footer>
