---
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="cursor" class="custom-cursor" />
    <slot />
    <Footer />
  </body>
</html>

<script>
  const cursor = document.getElementById("cursor");
    globalThis.addEventListener("mousemove", (event: MouseEvent) => {
      if (cursor) {
        cursor.style.transform =
          `translate(${event.clientX}px, ${event.clientY}px)`;
      }
    });
</script>
